<!--<h1>Hi <%= current_user.name %></h1>
div>All Posts:-</div>
<div>Posts:-</div>
<% for @t in @allTweets %>
	<div>
		<p><%= @t.content %></p>  
	</div>
<% end %>

<div>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
</div>-->
<div class="row">
	<div class="col-xs-3">

	</div>
	<div class="col-xs-6">
		<% for @t in @allTweets %>
			<div class="panel panel-default">
				<div class="panel-body">
					<p><%= @t.content %></p>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'components/tweet_form' %>
			</div>
		</div>
	</div>
</div>